body {
  background: #292929;
  overflow-y: scroll;
}

.top-bar {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0%;
  right: .01%;
  background: #1a1919;
  border-style: solid;
  border-width: 0px;
  border-color: #1a1919;
  font-size: 4vw;
  border-top-width: 0px;
  z-index: 50;
}

.popup {
  position: absolute;
  display: inline-block;
  background-color: #2e2d4d;
  color: white;
  border-radius: 15px;
  padding: 10px, 5px, 10px, 5px;
  z-index: 200;
  text-align: center;
  overflow: hidden;
  visibility: "";
  font-size: 100%;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  padding-left: 10px;
  padding-right: 10px;
  filter: brightness(2.0);
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  transition: visible 1s;
}

.center {
  text-align: center;
}

.title {
  position: fixed;
  left: 25px;
  padding-left: 90px;
  top: 0%;
  padding-top: 0px;
  margin-top: 22px;
  color: #ffd369;
  font-size: 45px;
  z-index: 100;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 800;
}

.howto {
  position: fixed;
  right: 35px;
  top: 0%;
  color: black;
  background-color: #ffd369;
  padding-top: 0px;
  margin-top: 22px;
  font-size: 45px;
  z-index: 100;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 800;
  border-radius: 0px;
  border-width: 5px;
  transition: transform 0.25s, opacity 0.15s;
}

.howto:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.howto:active {
  opacity: 0.6;
}

.word-title {
  width: 40%;
  background: #1a1919;
  text-align: center;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffd369;
  position: absolute;
  border-style: solid;
  border-width: 1px;
  border-color: #1a1919;
  border-radius: 5px;
  z-index: 10;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  font-size: 50px;
  top: 135px;
  margin-top: 10px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 800;
}

.placeholder {
  width: 60%;
  height: 100px;
  background: #292929;
  border-style: solid;
  border-width: 5px;
  border-color: #ffd369;
  border-radius: 5px;
  position: absolute;
  top: 135px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  text-align: center;
  color: white;
  font-size: 45px;
  vertical-align: middle;
  padding-top: 55px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
}

.input-box {
  width: 34.7%;
  padding-top: 14px;
  padding-bottom: 15px;
  position: absolute;
  top: 445px;
  right: 41%;
  background: #707070;
  border-radius: 0px;
  border-style: solid;
  border-width: 5px;
  border-color: #1a1919;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
}

.input-box-div {
  width: 34.7%;
  position: absolute;
  top: 445px;
  right: 41%;
  background: #5e4a4a;
}

.input-box:focus {
  outline: none;
}

.input-button {
  padding-top: 14px;
  padding-bottom: 15px;
  width: 17.5%;
  position: absolute;
  top: 443px;
  right: 23.5%;
  font-size: 30px;
  text-align: center;
  background: #1a1919;
  color: white;
  border-radius: 0px;
  border-style: solid;
  border-width: 5px;
  border-color: #1a1919;
  transition: background 0.15s, border-color 0.15s, opacity 0.15s;
  margin-top: 2px;
  z-index: 10;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
}

.input-button:hover {
  background: #707070;
  border-color: #1a1919;
  color: black;
  border-width: 5px;
  cursor: pointer;
}

.input-button:active {
  opacity: 0.4;
}

.logo {
  width: 125px;
  height: 70px;
  border-radius: 50%;
  position: fixed;
  top: 18px;
  left: 20px;
  z-index: 100;
  line-height: 70px;
  padding-left: 0px
}

.back {
  width: 101%;
  height: 101%;
  background: #3e3d3d;
}

.modal {
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: #1a1919;
  width: 40%;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  background: #2e2d4d;
  color: white;
  z-index: 200;
}

.modal::backdrop {
  background: black;
  opacity: 0.4;
}

.close-button {
  height: 25px;
  width: 27px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background: #2b2b2b;
  color: white;
  transition: background 0.15s, opacity 0.15s;
  position: absolute;
  top: 5%;
  right: 2%;
  line-height: 23.5px;
}

.close-button:focus {
  outline: none;
}

.close-button:hover {
  background: #7d7d7d;
}

.close-button:active {
  opacity: 0.4;
}

/*scrollbar styling*/

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #707070; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #301d72; 
}

::-webkit-scrollbar-thumb:active {
  background: #3c258d;
}

/* guess and percent boxes*/
.ex-guess {
  width: 32%;
  height: 58px;
  background: #292929;
  position: absolute;
  top: 540px;
  right: 41%;
  border-radius: 0px;
  border-style: solid;
  border-width: 5px;
  border-color: #1a1919;
  font-size: 30px;
  text-align: center;
  line-height: 58px;
  color: #ffd369;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
}

.wrong {
  width: 14.5%;
  height: 58px;
  background: #292929;
  position: absolute;
  top: 540px;
  right: 26.3%;
  border-radius: 0px;
  border-style: solid;
  border-width: 5px;
  border-color: #1a1919;
  font-size: 30px;
  text-align: center;
  line-height: 58px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
}

.ex-guess2 {
  width: 32%;
  height: 58px;
  background: #292929;
  position: absolute;
  top: 620px;
  right: 41%;
  border-radius: 0px;
  border-style: solid;
  border-width: 5px;
  border-color: #1a1919;
  font-size: 30px;
  text-align: center;
  line-height: 58px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
    color: #ffd369;

}

.ex-guess3 {
  width: 32%;
  height: 58px;
  background: #292929;
  position: absolute;
  top: 700px;
  right: 41%;
  border-radius: 0px;
  border-style: solid;
  border-width: 5px;
  border-color: #1a1919;
  font-size: 30px;
  text-align: center;
  line-height: 58px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
    color: #ffd369;

}

.wrong2 {
  width: 14.5%;
  height: 58px;
  background: #292929;
  position: absolute;
  top: 700px;
  right: 26.3%;
 border-radius: 0px;
  border-style: solid;
  border-width: 5px;
  border-color: #1a1919;
  font-size: 30px;
  text-align: center;
  line-height: 58px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
}

.ex-guess4 {
  width: 32%;
  height: 58px;
  background: #292929;
  position: absolute;
  top: 780px;
  right: 41%;
  border-radius: 0px;
  border-style: solid;
  border-width: 5px;
  border-color: #1a1919;
  font-size: 30px;
  text-align: center;
  line-height: 58px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
    color: #ffd369;

}

.wrong3 {
  width: 14.5%;
  height: 58px;
  background: #292929;
  position: absolute;
  top: 780px;
  right: 26.3%;
 border-radius: 0px;
  border-style: solid;
  border-width: 5px;
  border-color: #1a1919;
  font-size: 30px;
  text-align: center;
  line-height: 58px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
}

.ex-guess5 {
  width: 32%;
  height: 58px;
  background: #292929;
  position: absolute;
  top: 860px;
  right: 41%;
  border-radius: 0px;
  border-style: solid;
  border-width: 5px;
  border-color: #1a1919;
  font-size: 30px;
  text-align: center;
  line-height: 58px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
    color: #ffd369;

}

.wrong4 {
  width: 14.5%;
  height: 58px;
  background: #292929;
  position: absolute;
  top: 860px;
  right: 26.3%;
 border-radius: 0px;
  border-style: solid;
  border-width: 5px;
  border-color: #1a1919;
  font-size: 30px;
  text-align: center;
  line-height: 58px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
    color: #ffd369;

}

.ex-guess6 {
  width: 32%;
  height: 58px;
  background: #292929;
  position: absolute;
  top: 940px;
  right: 41%;
  border-radius: 0px;
  border-style: solid;
  border-width: 5px;
  border-color: #1a1919;
  font-size: 30px;
  text-align: center;
  line-height: 58px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  margin-bottom: 40px;
    color: #ffd369;

}

.wrong5 {
  width: 14.5%;
  height: 58px;
  background: #292929;
  position: absolute;
  top: 940px;
  right: 26.3%;
 border-radius: 0px;
  border-style: solid;
  border-width: 5px;
  border-color: #1a1919;
  font-size: 30px;
  text-align: center;
  line-height: 58px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  margin-bottom: 40px;
}

.right {
  width: 14.5%;
  height: 58px;
  background: #292929;
  position: absolute;
  top: 620px;
  right: 26.3%;
 border-radius: 0px;
  border-style: solid;
  border-width: 5px;
  border-color: #1a1919;
  font-size: 30px;
  text-align: center;
  line-height: 58px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
}

/*adds a small amount of margin at the bottom of the screen*/
.test {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 125%;
}

/*styling link within modal*/
.inner-link {
  color: white;
  transition: color 0.2s, opacity 0.2s;
}

.inner-link:hover {
  color: gray;
}

.inner-link:focus {
  outline: none;
}
.inner-link:active {
  opacity: 0.6;
}

.solution {
  width: 51.5%;
  height: 60px;
  position: absolute;
  top: 465px;
  right: 37.5%;
  background: #a1a1a1;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  font-size: 36px;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  padding-top: 13px;
  padding-bottom: 0px;
  z-index: -10;
}

.share {
  width: 26.8%;
  height: 77px;
  position: absolute;
  top: 463px;
  right: 10.7%;
  font-size: 36px;
  text-align: center;
  background: #1a1919;
  color: white;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #1a1919;
  transition: background 0.15s, border-color 0.15s, opacity 0.15s;
  margin-top: 2px;
  z-index: 10;
  line-height: 12px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;    
  padding-top: 0px;
  padding-bottom: 0px;
  z-index: -10;
}

.share-button {
  height: 30px;
  font-size: 15px;
  border-style: solid;
  border-color: #211c3b;
  border-radius: 5px;
  border-width: 3px;
  background: #aa99ff;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 13px; 
  transition: box-shadow 0.15s, transform 0.15s;
}

.share-button:hover,
.share-button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.25em);
}

/*mobile css goes here*/
@media screen and (max-width: 1080px) {
  .top-bar {
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0%;
    right: .01%;
    background: #141414;
    border-style: solid;
    border-width: 0px;
    border-color: black;
    border-top-width: 0px;
    z-index: 50;
  }

  .title {
    position: fixed;
    left: 25px;
    padding-left: 90px;
    top: 0%;
    padding-top: 0px;
    margin-top: 22px;
    color: #ffd369;
    font-size: 60px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    z-index: 100;
  }

  .howto {
    position: fixed;
    right: 25px;
    top: 0.3%;
    color: black;
    background-color: #ffd369;
    padding-top: 0px;
    margin-top: 22px;
    font-size: 55px;
    z-index: 100;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    border-radius: 5px;
    padding-left: 13px;
    padding-right: 13px;
  }

  .logo {
    width: 125px;
    height: 70px;
    border-radius: 50%;
    position: fixed;
    top: 30px;
    left: 20px;
    z-index: 100;
    line-height: 70px;
    padding-left: 0px
  }
  
  .ex-guess {
    width: 46.6%;
    height: 70px;
    position: absolute;
    top: 560px;
    right: 38.5%;
    font-size: 35px;
    text-align: center;
    line-height: 70px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
  }
  
  .wrong {
    width: 23.7%;
    height: 70px;
    position: absolute;
    top: 560px;
    right: 14.6%;
    font-size: 35px;
    text-align: center;
    line-height: 70px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
  }
  
  .ex-guess2 {
    width: 46.6%;
    height: 70px;
    position: absolute;
    top: 650px;
    right: 38.5%;
    font-size: 35px;
    text-align: center;
    line-height: 70px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
  }
  
  .right {
    width: 23.7%;
    height: 70px;
    position: absolute;
    top: 650px;
    right: 14.6%;
    font-size: 35px;
    text-align: center;
    line-height: 70px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
  }

  .ex-guess3 {
    width: 46.6%;
    height: 70px;
    position: absolute;
    top: 740px;
    right: 38.5%;
    font-size: 35px;
    text-align: center;
    line-height: 70px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
  }

  .wrong2 {
    width: 23.7%;
    height: 70px;
    position: absolute;
    top: 740px;
    right: 14.6%;
    font-size: 35px;
    text-align: center;
    line-height: 70px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
  }

  .ex-guess4 {
    width: 46.6%;
    height: 70px;
    position: absolute;
    top: 830px;
    right: 38.5%;
    font-size: 35px;
    text-align: center;
    line-height: 70px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
  }

  .wrong3 {
    width: 23.7%;
    height: 70px;
    position: absolute;
    top: 830px;
    right: 14.6%;
    font-size: 35px;
    text-align: center;
    line-height: 70px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
  }
  
  .ex-guess5 {
    width: 46.6%;
    height: 70px;
    position: absolute;
    top: 920px;
    right: 38.5%;
    
    font-size: 35px;
    text-align: center;
    line-height: 70px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
  }
  
  .wrong4 {
    width: 23.7%;
    height: 70px;
    position: absolute;
    top: 920px;
    right: 14.6%;
    font-size: 35px;
    text-align: center;
    line-height: 70px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
  }
  
  .ex-guess6 {
    width: 46.6%;
    height: 70px;
    position: absolute;
    top: 1010px;
    right: 38.5%;
    font-size: 35px;
    text-align: center;
    line-height: 70px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
  }
  
  .wrong5 {
    width: 23.7%;
    height: 70px;
    position: absolute;
    top: 1010px;
    right: 14.6%;
    font-size: 35px;
    text-align: center;
    line-height: 70px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
  }

  .input-box {
    width: 47.8%;
    height: 73px;
    position: absolute;
    top: 465px;
    right: 37.5%;
    background: #808080;
    border-radius: 0px;
    border-style: solid;
    border-width: 5px;
    border-color: #1a1919;
    font-size: 36px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #1a1919;
  }

  .solution {
    width: 51.5%;
    height: 60px;
    position: absolute;
    top: 465px;
    right: 37.5%;
    background: #808080;
    border-radius: 0px;
    border-style: solid;
    border-width: 5px;
    border-color: #1a1919;
    font-size: 36px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    padding-top: 13px;
    padding-bottom: 0px;
    z-index: -10;
  }

  .input-box:focus {
    outline: none;
  }
  
  .input-button {
    width: 26.8%;
    height: 83px;
    position: absolute;
    top: 463px;
    right: 10.7%;
    font-size: 36px;
    text-align: center;
    background: #1a1919;
    color: white;
    border-radius: 0px;
    border-style: solid;
    border-width: 5px;
    border-color: #1a1919;
    transition: background 0.15s, border-color 0.15s, opacity 0.15s;
    margin-top: 2px;
    z-index: 10;
    line-height: 12px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;    
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .share {
    width: 26.8%;
    height: 77px;
    position: absolute;
    top: 463px;
    right: 10.7%;
    font-size: 36px;
    text-align: center;
    background: #1a1919;
    color: white;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #1a1919;
    transition: background 0.15s, border-color 0.15s, opacity 0.15s;
    margin-top: 2px;
    z-index: 10;
    line-height: 12px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;    
    padding-top: 0px;
    padding-bottom: 0px;
    z-index: -10;
  }
  .word-title {
    width: 50%;
    background: #21212;
    text-align: center;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffd369;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    border-color: #21212;
    border-radius: 5px;
    z-index: 10;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    font-size: 55px;
    top: 155px;
    margin-top: 10px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
  }
  
  .placeholder {
    width: 90%;
    background: #2b2b2b;
    border-style: solid;
    border-width: 5px;
    border-color: #ffd369;
    border-radius: 5px;
    position: absolute;
    top: 140px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    text-align: center;
    color: white;
    font-size: 60px;
    vertical-align: middle;
    padding-top: 60px;
    padding-bottom: 45px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
  }

  .modal {
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    border-color: #1a1919;
    width: 80%;
    padding-top: 10px;
    padding-bottom:15px;
    font-size: 40px;
    overflow: hidden;
    transition: transform 0.15s, background 0.15s, opacity 0.15s;
    text-align: left;
  }

  .howto:hover {
    transform: translateY(-10px);
    cursor: pointer;
  }
  
  .modal::backdrop {
    background: black;
    opacity: 0.4;
  }
  
  .close-button {
    height: 55px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background: #2b2b2b;
    color: white;
    transition: background 0.15s, opacity 0.15s;
    position: absolute;
    top: 5%;
    right: 3%;
    line-height: 55px;
    font-size: 40px;
    padding-left: 22px;
    padding-right: 50px;
  }

  .share-button {
    height: 70px;
    font-size: 40px;
    border-style: solid;
    border-color: #211c3b;
    border-radius: 8px;
    border-width: 3px;
    background: #aa99ff;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 13px; 
    transition: box-shadow 0.15s, transform 0.15s;
    color: black;
    line-height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .share-button:hover,
  .share-button:focus {
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.25em);
  }

  .popup {
    width: 45%;
    font-size: 30px;
  }
  #bablDate {
    width: 26.8%;
    height: 77px;
    position: absolute;
    top: 463px;
    right: 10.7%;
  }
}